*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    color: white;

}
#Main{
    height: 130px;
    width: 50vw;
    margin: 200px auto;
    padding:20px;
    box-shadow: 0px 5px 20px rgb(162, 162, 162);
    background-color:white;
    border-radius: 20px;
    font-size: 40px;
    display: flex;
    color: black;;
    align-items: center;
    justify-content: space-evenly
}
.Dabba{
    height: 70px;
    width: 70px;
    border-radius: 4px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}